* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.top__marqee {
    padding: 10px 0;
    background-color: #000;
}
.marquee {
    color: #FFF;
}
.logoItem {
    width: 100px;
}
.mobile__init {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px 0;
}
.hamburger {
    cursor: pointer;
    z-index: 2;
}

.mobile__ancors {
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateX(100%);
    transition: .5s all;
    background-color: #f7f7f7;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.ancors, .ancorsL {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.ancorsL {
    margin-top: 10px;
}

.ancors a, .ancorsL a {
    text-decoration: none;
    color: #c3c3c3;
}

.off{
    transform: translateX(0%);
}

.banner__carrossel img{
    width: 100%;
}

.banner__carrossel {
    position: relative;
    background-color: #ebebeb;
    background-image: url("/src/imgs/Photo0.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.itens__banner {
    position: absolute;
    bottom: 0;
    padding: 0 0 30px 40px;
}

.itens__banner h1 {
    color: #FFF;
}

.circles__container {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.circle__item {
    width: 12px;
    height: 12px;
    background-color: #FFF;
    border-radius: 999px;
    cursor: pointer;
}

.model__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.produtos__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 10px;
}

.produto__item {
    background-color: #F2F2F2;
    padding: 24px;
    border-radius: 16px;
}

.imagemProduto {
    width: 300px;
    height: 300px;
}

.subTitleProdutos {
    font-size: 16px;
    margin: 18px 0px;
    font-weight: 600;
    line-height: 22px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.ancorSeeMore {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.title__Banner, .subTtile__banner {
    text-align: center;
}

.middleBanner__infos {
    background-color: #F2F2F2;
}

.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.img__middleBanner {
    margin: 10px 0;
}

.text__infos {
    text-align: center;
    padding: 10px;
}

.infosProd__banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.bannerR img {
    width: 100%;
    margin-top: 10px;
}

.mostruario {
    background-color: #000;
    margin-bottom: 40px;
}

.subTitle__mostru {
    color: #ffffff;
    padding: 10px;
}

.mostru__itemPrincipal {
    background-color: #FFF;
    border-radius: 16px;
    margin: 10px;
}

.mostru__itemPrincipal img {
    width: 100%;
    padding: 10px 10px 0 10px;
    border-radius: 16px;
}

.itens__sec {
    display: flex;
    justify-content: space-between;
}

.mostru__itensSec {
    display: flex;
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
}

.imgSec {
    width: 100%;
    border-radius: 16px;
}

.contentInfos {
    display: flex;
}

.contentL__item img {
    width: 50vw;
}

.contentR__item {
    background-color: #02021D;
    width: 50vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.contentR__item h3 {
    color: #FFF;
}

.contact__infos {
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    border-right: 1px solid rgb(189, 189, 189);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.footer__container {
    background-color: #02021D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__footer {
    color: #FFF;
}

.contact__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    padding-bottom: 15px;
    gap: 15px;
}

.title__footer {
    margin: 10px 0px;
}

.contact__footer a {
    width: 24px;
    height: 24px;
}