* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.top__marqee {
    padding: 10px 0;
    background-color: #000;
}
.marquee {
    color: #FFF;
}
.logoItem {
    width: 100px;
}
.mobile__init {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px 0;
}
.hamburger {
    cursor: pointer;
    z-index: 2;
}

.mobile__ancors {
    position: fixed;
    top: 50px;
    right: 0;
    transform: translateX(100%);
    transition: .5s all;
    background-color: #f7f7f7;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.ancors, .ancorsL {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.ancorsL {
    margin-top: 10px;
}

.ancors a, .ancorsL a {
    text-decoration: none;
    color: #c3c3c3;
}

.off{
    transform: translateX(0%) !important;
}

.banner__carrossel img{
    width: 100%;
}

.banner__carrossel {
    position: relative;
    background-color: #ebebeb;
    background-image: url("src/imgs/Photo0.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.itens__banner {
    position: absolute;
    bottom: 0;
    padding: 0 0 30px 40px;
}

.itens__banner h1 {
    color: #FFF;
}

.circles__container {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.circle__item {
    width: 12px;
    height: 12px;
    background-color: #FFF;
    border-radius: 999px;
    cursor: pointer;
}

.model__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.produtos__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 10px;
}

.produto__item {
    cursor: pointer;
    background-color: #F2F2F2;
    padding: 24px;
    border-radius: 16px;
    text-align: center ;
}

.imagemProduto {
    width: 300px;
    height: 300px;
}

.subTitleProdutos {
    font-size: 16px;
    margin: 18px 0px;
    font-weight: 600;
    line-height: 22px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.ancorSeeMore {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.title__Banner, .subTtile__banner {
    text-align: center;
}

.middleBanner__infos {
    background-color: #F2F2F2;
    text-align: center;
    text-align: center;
    margin: 20px;
    border-radius: 1rem;
}

.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.img__middleBanner {
    margin: 20px 0;
}

.text__infos {
    text-align: center;
    padding: 10px;
}

.infosProd__banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.bannerR img {
    width: 100%;
    margin-top: 10px;
}

.mostruario {
    background-color: #000;
    margin-bottom: 40px;
}

.subTitle__mostru {
    color: #ffffff;
    padding: 10px;
}

.mostru__itemPrincipal {
    background-color: #FFF;
    border-radius: 16px;
    margin: 10px;
}

.mostru__itemPrincipal img {
    width: 100%;
    padding: 10px 10px 0 10px;
    border-radius: 16px;
}

.itens__sec {
    display: flex;
    justify-content: space-between;
}

.mostru__itensSec {
    display: flex;
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
}

.imgSec {
    width: 100%;
    border-radius: 16px;
}

.contentInfos {
    display: flex;
}

.contentL__item img {
    width: 50vw;
}

.contentR__item {
    background-color: #02021D;
    width: 50vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.contentR__item h3 {
    color: #FFF;
}

.contact__infos {
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    border-right: 1px solid rgb(189, 189, 189);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.footer__container {
    background-color: #02021D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__footer {
    color: #FFF;
}

.contact__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    padding-bottom: 15px;
    gap: 15px;
}

.title__footer {
    margin: 10px 0px;
}

.contact__footer a {
    width: 24px;
    height: 24px;
}

.logo__desk {
    display: none;
}

.stars {
    gap: 12px;
}

.stars img {
    height: 20px;
}

/*----------------------TABLET-----------------------*/

@media screen and (min-width: 765px) {

    .model__container {
        display: flex;
        flex-direction: column;
    }

    .produtos__container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .produto__item {
        flex-grow: 1;
        width: 367px;
        height: 500px;
    }

    .bannerR {
        background-color: rgb(242, 242, 242);
        text-align: center;
        margin: 20px;
        border-radius: 1rem;
    }

    .bannerR img {
        width: auto;
    } 

}

@media screen and (min-width: 830px) {
    .navBar {
        padding: 10px 0px;
    }

    .mobile__init {
        display: none;
    }

    .logo__desk {
        display: block;
    }

    .hamburger {
        display: none;
    }
    
    .ancors, .ancorsL {
        flex-direction: row;
    }

    .mobile__ancors {
        position: initial;
        display: flex;
        transform: translateX(0%);
        background-color: #FFF;
        padding: 0px 40px;
        align-items: center;
        justify-content: space-between;
    }

    
}

@media screen and (min-width: 1360px) {

    .mobile__ancors {
        padding: 0px 50px;
    }

    .model__top {
        padding: 20px 50px;
    }

    .produtos__container {
        margin: 0px 50px;
    }

    .middelsBanner__itens {
        padding: 50px;
        display: flex;
        gap: 30px;
    }

    .bannerL, .bannerR {
        border-radius: 1rem;
        background-color: #F2F2F2;
        padding: 20px;
    }

    .bannerL {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bannerR {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }

    .bannerR img {
        height: 80%;
    }

    .middleBanner__infos {
        display: flex;
        align-items: center;
    }

    .text__infos {
        width: 482px;
    }

    .mostru__container {
        display: flex;
        padding: 50px;
    }

    .mostru__itemPrincipal {
        display: flex;
        width: 70%;
        order: 2;
        flex-direction: column;
        justify-content: center;
    }

    .itens__sec {
        display: flex;
        flex-direction: column;
    }
    
    .contactUs__container {
        display: flex;
    }

    .contact__infos {
        justify-content: space-evenly;
    }

    .contentL__item img, .contentR__item, .contact__infos{
        width: 33vw;
    }

    .footer__container {
        margin-top: 50px;
    }

}

@media screen and (min-width: 1141px) {
    .produtos__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

    }
    
}

@media screen and (min-width: 1598px) {
    .produtos__container {
        display: flex;
    }

    .produto__item:nth-child(10), .produto__item:nth-child(9) {
        display: none;
    }
}
    

/*---------------------------CARRINHO----------------------------------*/

.carrinho {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 100px;
    width: 50vw;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40.774227142333984px);
    z-index: 1;
    transform: translateX(100%);
    transition: .5s;
}

.navBar {
    z-index: 1;
    position: relative;
}

.prod__carrinho {
    display: flex;
    padding: 20px;
    background-color: #ebebeb;
    margin-bottom: 20px;
    position: relative;
}

.prod__carrinho img{
    width: 300px;

}

.produto__infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details {
    display: flex;
    gap: 20px;
}

.removeElemento {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
